.menu {
  width: auto;
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;

  }
  &__item {
    position: relative;
    text-align: $text-align--text-node;
    border-bottom: 1px solid #678fa8;
    background-color: $main-color;
  }
  &__button-menu--close {
    position: absolute;
    top: 17px;
    right: 20px;
    width: 23px;
    height: 22px;
    font-size: $font-size--reset;
    border: none;
    background-color: $main-color;
    background-image: url("../img/page-header--menu/menu-button--close.png");
    background-repeat: no-repeat;
  }
  &__item:last-child {
    border: none;
    background-image: url("../img/page-header--menu/menu-item-shadow.png");
    background-repeat: no-repeat;
    background-position: bottom;
  }
  &__link {
    display: block;
    padding-top: 7px;
    padding-right: 44px;
    padding-bottom: 8px;
    padding-left: 44px;
    font-size: $font-size--h2;
    line-height: $line-height--menu-item;
    font-weight: bold;
    color: $title-color;
  }
}



.logo {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 391px;
  text-align: center;
  background-image: url("../img/page-header/bg-header.png");
  background-repeat: no-repeat;
  z-index: -5;
  &:before {
    position: absolute;
    display: block;
    content: "";
    bottom: 0px;
    left: 0;
    width: 160px;
    height: 26px;
    background-image: linear-gradient(
      188deg,

      transparent 45%,
      white 50%
    );
}
  &:after {
    position: absolute;
    display: block;
    content: "";
    bottom: 0px;
    left: 160px;
    width: 160px;
    height: 26px;
    background-image: linear-gradient(
      172deg,

      transparent 45%,
      white 50%
    );
}
  &__image-top {
    align-self: center;
    width: 196px;
    height: 66px;
    margin-top: 47px;
    background-image: url("../img/page-header/bg-header--top-text.png");
    background-repeat: no-repeat;
  }
  &__image-middle {
    align-self: center;
    width: 280px;
    height: 48px;
    margin-top: 60px;
    background-image: url("../img/page-header/bg-header--middle-text.png");
    background-repeat: no-repeat;
  }
  &__image-bottom {
    align-self: center;
    width: 197px;
    height: 54px;
    margin-top: 70px;
    background-image: url("../img/page-header/bg-header--bottom-text.png");
    background-repeat: no-repeat;
  }
}



.menu-container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 56px;
  font-size: $font-size--reset;
  &__logo-link {
    display: block;
  }
  &__logo-image{
    display: block;
  }
  &__button-menu--open {
    position: absolute;
    top: 17px;
    right: 20px;
    width: 23px;
    height: 22px;
    font-size: $font-size--reset;
    border: 0;
    background-color: transparent;
    background-image: url("../img/page-header--menu/menu-button--open.png");
    background-repeat: no-repeat;
  }
}



.title__promo {
    margin: $margin--reset;
    padding-top: 40px;
    padding-bottom: 34px;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
}



.title-preview__text {
    margin: $margin--reset;
    padding-bottom: 40px;
    font-size: 14px;
    line-height: 26px;
    text-align: $text-align--text-node;
}
