.preview {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #eeeeee;
  &--border:before {
    position: absolute;
    display: block;
    content: "";
    top: 0px;
    left: 0;
    width: 160px;
    height: 15px;
    background-image: linear-gradient(
      184deg,

      #ffffff 45%,
      $main-color 50%
    );
}
  &--border:after {
    position: absolute;
    display: block;
    content: "";
    top: 0px;
    left: 160px;
    width: 160px;
    height: 15px;
    background-image: linear-gradient(
      176deg,

      #ffffff 45%,
      $main-color 50%
    );
}
  &--active {
    background-color: $main-color;
  }
  &__number {
    margin-top: 15px; 
    margin-bottom: 17px;
    display: $display--span;
    font-size: $font-size--text;
    line-height: $line-height-text;
    text-align: $text-align--text-node;
  }
  &__number--active {
    color: $title-color;
  }
  &__title{
    margin: $margin--reset;
    padding-top: 35px;
    font-size: $font-size--h2;
    line-height: $line-height--h2;
    text-align: $text-align--text-node;
  }
  &__title--active {
    color: $title-color;
  }
  &__text {
    margin: $margin--reset;
    padding-bottom: 36px;
    font-size: $font-size--text;
    line-height: $line-height-text;
    text-align: $text-align--text-node;
  }
  &__text--active {
    color: $title-color;
  }
  &__border:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 20px;
    width: 280px;
    height: 1px;
    background-color: #d6d6d6;
  }
}



.block-image {
  font-size: $font-size--reset;
  &__item {
    display: block;
  }
}



.preview-item {
  display: flex;
  &__left {
    width: 37.5%;
  }
  &__left--home-img {
    background-image: url(../img/page-content/features-image--home.png);
    background-repeat: no-repeat;
    background-position: 20px 30px;
  }
  &__left--food-img {
    background-image: url(../img/page-content/features-image--food.png);
    background-repeat: no-repeat;
    background-position: 20px 30px;
  }
  &__left--surprise-img {
    background-image: url(../img/page-content/features-image--surprise.png);
    background-repeat: no-repeat;
    background-position: 25px 30px;
  }
  &__title {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  &__text {
    margin: $margin--reset;
  }
}



.preview-item:last-child {
  margin-bottom: 35px;
}
.search-information {
  &__title {
    margin-top: 28px;
    margin-bottom: 29px;
    font-size: $font-size--block-number;
    line-height: $line-height--h2;
    text-align: $text-align--text-node;
  }
  &__text {
    margin-bottom: 40px;
    font-size: $font-size--text;
    line-height: 24px;
    text-align: $text-align--text-node;
    }
}



.search-btn {
  display: block;
  width: 280px;
  margin-right: 20px;
  margin-bottom: 50px;
  margin-left: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: $font-size--block-number;
  line-height: $line-height--h2;
  font-weight: bold;
  color: $title-color;
  text-align: $text-align--text-node;
  background-color: $main-color;
}
