.page-footer {
  &__title {
    margin-top: 38px;
    margin-bottom: 38px;
    font-size: $font-size--block-number;
    line-height: $line-height--h2;
    text-align: $text-align--text-node;
  }
}

.social {
  display: flex;
  justify-content: center;
  margin: $margin--reset;
  margin-bottom: 40px;
  padding: $padding--reset;
  list-style: none;
  &__item {
    position: relative;
    width: 46px;
    height: 48px;
    margin-right: 6px; 
    font-size: $font-size--reset;
    background-color: $main-color;
  }
  &__link {
    display: block;
    width: 46px;
    height: 48px;
  }
  &__item:last-child {
    margin-right: 0;
  }
  &__link--twitter:after {
    position: absolute;
    content: "";
    top: 17px;
    left: 14px;
    width: 20px;
    height: 15px;
    background-image: url("../img/icons/footer--twitter-icon.png");
    background-repeat: no-repeat;
  }
  &__link--facebook:after {
    position: absolute;
    content: "";
    top: 15px;
    left: 20px;
    width: 9px;
    height: 19px;
    background-image: url("../img/icons/footer--facebook-icon.png");
    background-repeat: no-repeat;
  }
  &__link--youtube:after {
    position: absolute;
    content: "";
    top: 17px;
    left: 13px;
    width: 20px;
    height: 14px;
    background-image: url("../img/icons/footer--youtube-icon.png");
    background-repeat: no-repeat;
  }
}

.copyright {
  display: flex;
  justify-content: $text-align--text-node;
  align-items: $text-align--text-node;
  margin-bottom: 23px;
  &__link {
    display: block;
    font-size: $font-size--reset;
  }
  &__link--logo {
    margin-left: 11px;
    width: 27px;
    height: 34px;
    background-image: url("../img/page-footer/copyright-logo.png");
    background-repeat: no-repeat;
  }
}
