.search-information {
  &__title {
    margin-top: 28px;
    margin-bottom: 29px;
    font-size: $font-size--block-number;
    line-height: $line-height--h2;
    text-align: $text-align--text-node;
  }
  &__text {
    margin-bottom: 40px;
    font-size: $font-size--text;
    line-height: 24px;
    text-align: $text-align--text-node;
    }
}
