.search-btn {
  display: block;
  width: 280px;
  margin-right: 20px;
  margin-bottom: 50px;
  margin-left: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: $font-size--block-number;
  line-height: $line-height--h2;
  font-weight: bold;
  color: $title-color;
  text-align: $text-align--text-node;
  background-color: $main-color;
}
