.social {
  display: flex;
  justify-content: center;
  margin: $margin--reset;
  margin-bottom: 40px;
  padding: $padding--reset;
  list-style: none;
  &__item {
    position: relative;
    width: 46px;
    height: 48px;
    margin-right: 6px;
    font-size: $font-size--reset;
    background-color: $main-color;
  }
  &__link {
    display: block;
    width: 46px;
    height: 48px;
  }
  &__item:last-child {
    margin-right: 0;
  }
  &__link--twitter:after {
    position: absolute;
    content: "";
    top: 17px;
    left: 14px;
    width: 20px;
    height: 15px;
    background-image: url("../img/icons/footer--twitter-icon.png");
    background-repeat: no-repeat;
  }
  &__link--facebook:after {
    position: absolute;
    content: "";
    top: 15px;
    left: 20px;
    width: 9px;
    height: 19px;
    background-image: url("../img/icons/footer--facebook-icon.png");
    background-repeat: no-repeat;
  }
  &__link--youtube:after {
    position: absolute;
    content: "";
    top: 17px;
    left: 13px;
    width: 20px;
    height: 14px;
    background-image: url("../img/icons/footer--youtube-icon.png");
    background-repeat: no-repeat;
  }
}
