//------------------------------
//Color palette
//------------------------------
$main-color: #81b3d2;
$title-color: #ffffff;

//------------------------------
//Typography
//------------------------------

$font-size--h2: 18px;
$font-size--text: 14px;
$font-size--block-number: 21px;
$font-size--reset: 0;

$line-height--menu-item: 40px;
$line-height--h2: 26px;
$line-height-text: 21px;
$line-height--block-number: 15px;
$text-align--text-node: center;

//------------------------------
//Block model
//------------------------------

$display--span: block;
$align-self--flex-block: center;
$margin--reset: 0;
$padding--reset: 0;
$font-size--reset: 0;
