@media (max-width: $max-width--small) {
  .page-footer {
    &__title {
      margin-top: 39px;
      margin-bottom: 40px;
      font-size: $font-size-large--button;
      line-height: $line-height--text;
      text-align: center;
    }
  }
}
