@media (max-width: 768px) {
  .block-image {
    width: 100%;
    height: 256px;
    overflow: hidden;
    font-size: $font-size--reset;
    background-color: $main-color--white;
    &--city {
      background-image: url("../img/photo-city@1x.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 160%;
      background-color: #9e877f;
      @include image-2x('../img/photo-city@2x.jpg"', 160%, auto);
    }
    &--bridge {
      background-image: url("../img/photo-bridge@1x.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 160%;
      background-color: #965138;
      @include image-2x('../img/photo-bridge@2x.jpg"', 160%, auto);
    }
  }
}



@media (min-width: 768px) and (max-width: 1199px) {
  .block-image {
    width: 100%;
    overflow: hidden;
    font-size: $font-size--reset;
    background-color: $main-color--white;
    &--city {
      background-image: url("../img/photo-city@1x.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 105%;
      background-color: #9e877f;
      @include image-2x('../img/photo-city@2x.jpg"', 105%, auto);
    }
    &--bridge {
      background-image: url("../img/photo-bridge@1x.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 105%;
      background-color: #965138;
      @include image-2x('../img/photo-bridge@2x.jpg"', 105%, auto);
    }
  }
}



@media (min-width: 1200px) {
  .block-image {
    width: 100%;
    overflow: hidden;
    font-size: $font-size--reset;
    background-color: $main-color--white;
    &--city {
      background-image: url("../img/photo-city@1x.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 105%;
      background-color: #9e877f;
      @include image-2x('../img/photo-city@2x.jpg"', 105%, auto);
    }
    &--bridge {
      background-image: url("../img/photo-bridge@1x.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 105%;
      background-color: #965138;
      @include image-2x('../img/photo-bridge@2x.jpg"', 105%, auto);
    }
  }
}
