@media (min-resolution: 144dpi),
(min-resolution: 1.5dppx) {
  .block-image--city {
    background-image: url("../img/photo-city@2x.jpg");
  }
  .block-image--bridge {
    background-image: url("../img/photo-bridge@2x.jpg");
  }
}



@media (max-width: 768px) {
  .block-image {
    width: 100%;
    height: 256px;
    overflow: hidden;
    font-size: $font-size--reset;
    background-color: $main-color--white;
    &--city {
      background-image: url("../img/photo-city@1x.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 160%;
    }
    &--bridge {
      background-image: url("../img/photo-bridge@1x.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 160%;
    }
  }
}



@media (min-width: 768px) and (max-width: 1199px) {
  .block-image {
    width: 100%;
    overflow: hidden;
    font-size: $font-size--reset;
    background-color: $main-color--white;
    &--city {
      background-image: url("../img/photo-city@1x.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
    }
    &--bridge {
      background-image: url("../img/photo-bridge@1x.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
}



@media (min-width: 1200px) {
  .block-image {
    width: 100%;
    overflow: hidden;
    font-size: $font-size--reset;
    background-color: $main-color--white;
    &--city {
      background-image: url("../img/photo-city@1x.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
    }
    &--bridge {
      background-image: url("../img/photo-bridge@1x.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
}
