@media (min-resolution: 144dpi),
(min-resolution: 1.5dppx) {
  .logo{
    background-image: url("../img/photo-background@2x.jpg");
    &--mini{
      background-image: url("../img/photo-background@2x.jpg");
    }
  }
}
@media (min-width: 320px) and (max-width: 767px) {

  .logo {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url("../img/photo-background@1x.jpg");
    background-repeat: no-repeat;
    background-size: 768px auto;
    background-position: 50% 0;
    z-index: -5;
    &--mini {
      position: relative;
      display: flex;
      flex-direction: column;
      text-align: center;
      background-image: url("../img/photo-background@1x.jpg");
      background-repeat: no-repeat;
      background-size: 768px auto;
      background-position: 52% 42%;
      z-index: -5;
    }
    &__image-middle--form {
      width: 173px;
      margin-top: 30px;
      margin-bottom: 42px;
      fill: $main-color--white;
    }
    &__image-top {
      align-self: center;
      width: 144px;
      margin-top: 47px;
      fill: $main-color--light-blue;
    }
    &__image-top--second {
      align-self: center;
      width: 196px;
      margin-bottom: 45px;
      fill: $color--logo-brown;
    }
    &__image-middle {
      align-self: center;
      width: 280px;
      margin-bottom: 55px;
      fill: $main-color--white;
    }
    &__image-bottom {
      align-self: center;
      width: 186px;
      fill: $main-color--white;
      margin-bottom: 40px;
    }
    &:before {
      position: absolute;
      display: block;
      content: "";
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 37px;
      background-image: url("../img/page-header/header--border-image.png");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}



@media (min-width: 460px) and (max-width: 767px) {
  .logo::after {
    position: absolute;
    display: block;
    content: "";
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 37px;
    background-image: url("../img/page-header/header--large-border-image.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}



@media (min-width: 768px) {
  .wrapper-index {
    box-shadow: none;
  }
  .logo {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url("../img/photo-background@1x.jpg");
    background-repeat: no-repeat;
    background-size: 1200px auto;
    background-position: 50% 0;
    z-index: -5;
    &--mini {
      position: relative;
      display: flex;
      flex-direction: column;
      text-align: center;
      background-image: url("../img/photo-background@1x.jpg");
      background-repeat: no-repeat;
      background-size: 1200px auto;
      background-position: 50% 56%;
      z-index: -5;
    }
    &__image-middle--form {
      width: 546px;
      margin-top: 104px;
      margin-bottom: 113px;
      fill: $main-color--white;
    }
    &__image-top {
      align-self: center;
      width: 189px;
      margin-top: 76px;
      fill: $main-color--light-blue;
    }
    &__image-top--second {
      align-self: center;
      width: 256px;
      margin-top: 13px;
      margin-bottom: 51px;
      fill: $color--logo-brown;
    }
    &__image-middle {
      align-self: center;
      width: 459px;
      margin-bottom: 55px;
      fill: $main-color--white;
    }
    &__image-bottom {
      align-self: center;
      width: 297px;
      fill: $main-color--white;
      margin-bottom: 84px;
    }
    &:before {
      position: absolute;
      display: block;
      content: "";
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 37px;
      background-image: url("../img/page-header/header--large-border-image.png");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

@media (min-width: 770px) {
  .logo {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url("../img/photo-background@1x.jpg");
    background-repeat: no-repeat;
    background-size: 1200px auto;
    background-position: 53% -94px;
    z-index: -5;
    &--mini {
      position: relative;
      display: flex;
      flex-direction: column;
      text-align: center;
      background-image: url("../img/photo-background@1x.jpg");
      background-repeat: no-repeat;
      background-size: 1200px auto;
      background-position: 50% 56%;
      z-index: -5;
    }
    &__image-top {
      align-self: center;
      width: 189px;
      margin-top: 76px;
      fill: $main-color--light-blue;
    }
    &__image-top--second {
      align-self: center;
      width: 256px;
      margin-top: 13px;
      margin-bottom: 51px;
      fill: $color--logo-brown;
    }
    &__image-middle {
      align-self: center;
      width: 459px;
      margin-bottom: 55px;
      fill: $main-color--white;
    }
    &__image-bottom {
      align-self: center;
      width: 297px;
      fill: $main-color--white;
      margin-bottom: 84px;
    }
    &:before {
      position: absolute;
      display: block;
      content: "";
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 56px;
      background-image: url("../img/page-header/header--xl-border-image.png");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}


@media (min-width: 1200px) {
  .wrapper-index {
    box-shadow: 0px 0px 20px -5px $main-color--black,
                0px 0px 0px 3600px $main-color--gray;
  }
  .logo {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url("../img/photo-background@1x.jpg");
    background-repeat: no-repeat;
    background-size: 1200px auto;
    background-position: 50% -84px;
    z-index: -5;
    &--mini {
      position: relative;
      display: flex;
      flex-direction: column;
      text-align: center;
      background-image: url("../img/photo-background@1x.jpg");
      background-repeat: no-repeat;
      background-size: 1200px auto;
      background-position: 50% 65%;
      z-index: -5;
    }
    &__image-middle--form {
      width: 454px;
      margin-top: 104px;
      margin-bottom: 121px;
      fill: $main-color--white;
    }
    &__image-top {
      align-self: center;
      width: 189px;
      margin-top: 76px;
      fill: $main-color--light-blue;
    }
    &__image-top--second {
      align-self: center;
      width: 256px;
      margin-top: 13px;
      margin-bottom: 51px;
      fill: $color--logo-brown;
    }
    &__image-middle {
      align-self: center;
      width: 459px;
      margin-bottom: 55px;
      fill: $main-color--white;
    }
    &__image-bottom {
      align-self: center;
      width: 297px;
      fill: $main-color--white;
      margin-bottom: 84px;
    }
    &:before {
      position: absolute;
      display: block;
      content: "";
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 56px;
      background-image: url("../img/page-header/header--xl-border-image.png");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
