@media (max-width: 767px) {
  .menu-container {
    position: relative;
    display: flex;
    justify-content: center;
    order: 2;
    height: 56px;
    font-size: $font-size--reset;
    &__logo-link {
      display: block;
    }
    &__button-menu--open {
      position: absolute;
      top: 17px;
      right: 20px;
      width: 23px;
      height: 22px;
      font-size: $font-size--reset;
      border: 0;
      background-color: transparent;
      background-image: url("../img/icon-menu.svg");
      background-repeat: no-repeat;
    }
    &__logo-image {
      position: relative;
      width: 67px;
      height: 56px;
    }
    &__logo-image--bg {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -68px;
      fill: $main-color--light-blue;
      z-index: -1;
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .menu-container {
    position: relative;
    display: flex;
    justify-content: center;
    order: 2;
    height: 0;
    font-size: $font-size--reset;
    &__logo-link {
      display: block;
    }
    &__button-menu--open {
      position: absolute;
      top: 17px;
      right: 20px;
      width: 23px;
      height: 22px;
      font-size: $font-size--reset;
      border: 0;
      background-color: transparent;
      background-image: url("../img/icon-menu.svg");
      background-repeat: no-repeat;
      display: none;
    }
    &__logo-image {
      position: relative;
      width: 67px;
      height: 56px;
    }
    &__logo-image--bg {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -68px;
      fill: $main-color--light-blue;
      z-index: -1;
    }
  }
}

@media (min-width: 1200px) {
  .menu-container {
    position: relative;
    display: flex;
    justify-content: center;
    order: 2;
    height: 0;
    font-size: $font-size--reset;
    &__logo-link {
      display: block;
    }
    &__button-menu--open {
      position: absolute;
      top: 17px;
      right: 20px;
      width: 23px;
      height: 22px;
      font-size: $font-size--reset;
      border: 0;
      background-color: transparent;
      background-image: url("../img/icon-menu.svg");
      background-repeat: no-repeat;
      display: none;
    }
    &__logo-image {
      position: relative;
      width: 67px;
      height: 56px;
    }
    &__logo-image--bg {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -68px;
      fill: $main-color--light-blue;
      z-index: -1;
    }
  }
}
