@media (max-width: 767px) {
  .preview-item {
    display: flex;
    &--bottom {
      margin-bottom: 41px;
    }
    &__left {
      width: 38%;
    }
    &__left--home-img {
      width: 39px;
      margin-top: 15px;
      margin-left: 20px;
      fill: $main-color--light-blue;
    }
    &__left--food-img {
      width: 38px;
      margin-top: 15px;
      margin-left: 20px;
      fill: $main-color--light-blue;
    }
    &__left--surprise-img {
      width: 33px;
      margin-top: 11px;
      margin-left: 22px;
      fill: $main-color--light-blue;
    }
    &__title {
      font-size: $font-size--menu-link;
      line-height: $line-height--text;
      margin-top: 40px;
      margin-bottom: 11px;
    }
    &__text {
      margin: $margin--reset;
      font-size: $font-size-medium--text;
      line-height: $line-height--small--text;
    }
    &:last-child {
      padding-right: 17px;
      margin-bottom: 41px;
    }
  }
}



@media (min-width: 325px) and (max-width: 1199px) {
  .preview-item__left {
    width: 38%;
    text-align: center;
  }
  .preview-item__left--home-img {
    width: 39px;
    fill: $main-color--light-blue;
  }
  .preview-item__left--food-img {
    width: 38px;
    fill: $main-color--light-blue;
  }
  .preview-item__left--surprise-img {
    width: 33px;
    fill: $main-color--light-blue;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .preview-item {
    &--bottom {
      margin-bottom: 41px;
    }
    &__left {
      height: 132px;
      width: 100%;
      text-align: center;
      vertical-align: bottom;
    }
    &__right {
      padding-right: 11%;
      padding-left: 11%;
      text-align: center;
    }
    &__left--home-img {
      width: 78px;
      margin-top: 60px;
      fill: $main-color--light-blue;
    }
    &__left--food-img {
      width: 78px;
      margin-top: 60px;
      fill: $main-color--light-blue;
    }
    &__left--surprise-img {
      width: 66px;
      margin-top: 56px;
      fill: $main-color--light-blue;
    }
    &__title {
      font-size: $font-size--menu-link;
      line-height: $line-height--text;
      margin-top: 28px;
      margin-bottom: 21px;
    }
    &__text {
      margin: $margin--reset;
      font-size: $font-size-medium--text;
      line-height: $line-height--small--text;
    }
  }
}

@media (min-width: 1200px) {
  .preview-item {
    &--bottom {
      margin-bottom: 41px;
    }
    &__left {
      height: 132px;
      width: 100%;
      text-align: center;
    }
    &__right {
      padding-right: 18%;
      padding-left: 10%;
      text-align: center;
    }
    &__left--home-img {
      width: 75px;
      margin-top: 60px;
      fill: $main-color--light-blue;
    }
    &__left--food-img {
      width: 75px;
      margin-top: 60px;
      fill: $main-color--light-blue;
    }
    &__left--surprise-img {
      width: 66px;
      margin-top: 56px;
      fill: $main-color--light-blue;
    }
    &__title {
      font-size: $font-size--menu-link;
      line-height: $line-height--text;
      margin-top: 28px;
      margin-bottom: 20px;
    }
    &__text {
      margin: $margin--reset;
      font-size: $font-size-medium--text;
      line-height: $line-height--small--text;
    }
  }
}
