.title-preview {
  padding-right: 6.25%;
  padding-left: 6.25%;
  text-align: center;
  &__text {
      margin: $margin--reset;
      margin-bottom: 19px;
      font-size: $font-size-medium--text;
      line-height: $line-height--text;
      text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .title-preview {
    padding-right: 3%;
    padding-left: 3%;
    text-align: center;
    &__text {
        margin: $margin--reset;
        margin-bottom: 49px;
        padding-right: 105px;
        padding-left: 105px;
        font-size: $font-size-medium--text;
        line-height: $line-height--text;
        text-align: center;
    }
  }
}


@media (min-width: 1200px) {
  .title-preview {
    padding-right: 6.25%;
    padding-left: 6.25%;
    text-align: center;
    &__text--index {
        margin: $margin--reset;
        margin-bottom: 49px;
        padding-right: 26%;
        padding-left: 26%;
        font-size: $font-size-medium--text;
        line-height: $line-height--text;
        text-align: center;
    }
    &__text--form {
        margin: $margin--reset;
        margin-bottom: 35px;
        padding-right: 26%;
        padding-left: 26%;
        font-size: $font-size-medium--text;
        line-height: $line-height--text;
        text-align: center;
    }
  }
}
