.form__input-button--right {
  min-width: 60px;
  height: 58px;
  padding: $display-reset;
  background-color: $main-color--gray;
  background-image: url("../img/icons/form-button--plus.png");
  background-repeat: no-repeat;
  background-position: center;
  border: $display-reset;
}
