.preview-item {
  display: flex;
  &__left {
    width: 40%;
  }
  &__left--home-img {
    background-image: url(../img/page-content/features-image--home.png);
    background-repeat: no-repeat;
    background-position: center 20px; //20px 30px
  }
  &__left--food-img {
    background-image: url(../img/page-content/features-image--food.png);
    background-repeat: no-repeat;
    background-position: center 20px; //20px 30px
  }
  &__left--surprise-img {
    background-image: url(../img/page-content/features-image--surprise.png);
    background-repeat: no-repeat;
    background-position: center 15px; //25px 30px
  }
  &__title {
    font-size: $font-size--menu-link;
    line-height: $line-height--text;
    margin-top: 29px;
    margin-bottom: 21px;
  }
  &__text {
    margin: $margin--reset;
    font-size: $font-size-medium--text;
    line-height: $line-height--small--text;
  }
  &:last-child {
    margin-bottom: 37px;
    padding-right: 17px;
  }
}
