.logo {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 391px;
  text-align: center;
  background-image: url("../img/page-header/bg-header.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -5;
  &--mini {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 159px;
    text-align: center;
    background-image: url("../img/page-header/bg-header--form-page.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -5;
  }
  &:before {
    position: absolute;
    display: block;
    content: "";
    bottom: -25px;
    left: -5px;
    width: 52%;
    height: 9.8%;
    background-color: $main-color--white;
    transform: rotate(9.3deg);
}
  &:after {
    position: absolute;
    display: block;
    content: "";
    bottom: -25px;
    left: 50%;
    width: 52%;
    height: 9.8%;
    background-color: $main-color--white;
    transform: rotate(-9.3deg);
  }
  &__image-top {
    align-self: center;
    width: 196px;
    height: 66px;
    margin-top: 47px;
    background-image: url("../img/page-header/bg-header--top-text.png");
    background-repeat: no-repeat;
  }
  &__image-middle {
    align-self: center;
    width: 280px;
    height: 48px;
    margin-top: 60px;
    background-image: url("../img/page-header/bg-header--middle-text.png");
    background-repeat: no-repeat;
  }
  &__image-bottom {
    align-self: center;
    width: 197px;
    height: 54px;
    margin-top: 70px;
    background-image: url("../img/page-header/bg-header--bottom-text.png");
    background-repeat: no-repeat;
  }
  &__image-middle--small {
    align-self: center;
    width: 280px;
    height: 48px;
    margin-top: 60px;
    background-image: url("../img/page-header/bg-header--middle-text--small.png");
    background-repeat: no-repeat;
    background-position: center;

  }
}
