* {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  border: none;
}

a:hove {
  text-decoration: none;
}

img {
  border: none;
  font-size: 0;
  outline: none;
}


input[type="text"]::-moz-placeholder {
  color: #000;
}

input[type="text"]::-webkit-input-placeholder {
  color: #000;
  font-weight: bold;
}

.wrapper {
  max-width: 1200px;
  min-width: 320px;
}
