@media (max-width: 767px) {
  .menu-container {
    position: relative;
    display: flex;
    justify-content: center;
    order: 2;
    height: 56px;
    font-size: $font-size--reset;
    &__logo-link {
      display: block;
    }
    &__button-menu--open {
      position: absolute;
      top: 17px;
      right: 20px;
      width: 23px;
      height: 22px;
      font-size: $font-size--reset;
      border: 0;
      background-color: transparent;
      background-image: url("../img/page-header--menu/menu-button--open.png");
      background-repeat: no-repeat;
    }
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .menu-container {
    position: relative;
    display: flex;
    order: 1;
    justify-content: center;
    height: 0;
    font-size: $font-size--reset;
    &__logo-link {
      display: block;
    }
    &__button-menu--open {
      position: absolute;
      top: 17px;
      right: 20px;
      width: 23px;
      height: 22px;
      font-size: $font-size--reset;
      border: 0;
      background-color: transparent;
      background-image: url("../img/page-header--menu/menu-button--open.png");
      background-repeat: no-repeat;
      display: none;
    }
  }
}
