@media (max-width: $max-width--small) {
  .page-footer {
    &__title {
      margin-top: 39px;
      margin-bottom: 40px;
      font-size: $font-size-large--button;
      font-weight: bold;
      line-height: $line-height--text;
      text-align: center;
    }
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .page-footer {
    display: flex;
    align-items: flex-start;
    &__title {
      margin-top: 45px;
      margin-right: 112px;
      margin-left: 60px;
      font-size: $font-size-large--button;
      font-weight: bold;
      line-height: $line-height--text;
      text-align: center;
    }
  }
}
