.preview-item {
  display: flex;
  &--wrapper {
    margin-bottom: 41px;
  }
  &__left {
    width: 38%;
  }
  &__left--home-img {
    background-image: url(../img/page-content/features-image--home.png);
    background-repeat: no-repeat;
    background-position: 23px 30px;
  }
  &__left--food-img {
    background-image: url(../img/page-content/features-image--food.png);
    background-repeat: no-repeat;
    background-position: 20px 35px;
  }
  &__left--surprise-img {
    background-image: url(../img/page-content/features-image--surprise.png);
    background-repeat: no-repeat;
    background-position: 25px 28px;
  }
  &__title {
    font-size: $font-size--menu-link;
    line-height: $line-height--text;
    margin-top: 42px;
    margin-bottom: 14px;
  }
  &__text {
    margin: $margin--reset;
    font-size: $font-size-medium--text;
    line-height: $line-height--small--text;
  }
  &:last-child {
    padding-right: 17px;
  }
}
