.search-information {
  padding-top: 31px;
  &__title {
    margin-top: $margin--reset;
    margin-bottom: 25px;
    font-size: $font-size-large--button;
    line-height: $line-height--text;
    text-align: center;
  }
  &__text {
    margin-bottom: 35px;
    font-size: $font-size-medium--text;
    line-height: $line-height-smaller--text;
    text-align: center;
  }
}
