.title-block {
  position: relative;
  &--border:before  {
    position: absolute;
    display: block;
    content: "";
    bottom: -47px;
    left: 0;
    width: 100%;
    height: 37px;
    background-image: url("../img/page-content/content--preview-border.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
  }
}
.title-text {
  margin-top: 37px;
  margin-bottom: 29px;
  &--margin {
    margin-top: 69px;
    margin-bottom: 26px;
  }
  &__promo {
      margin: $margin--reset;
      font-size: $font-size--menu-link;
      line-height: $line-height--text;
      text-align: center;
  }
}
